<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MNISTViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="UpdateLocation" value="https://squirrelapps.blob.core.windows.net/mnistviewer"/>
  </appSettings>
    <userSettings>
        <MNISTViewer.Properties.Settings>
            <setting name="Uri" serializeAs="String">
                <value>http://40.87.9.218:80/score</value>
            </setting>
        </MNISTViewer.Properties.Settings>
    </userSettings>
</configuration>